* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#calculator-shell {
    border: solid black;
    width: 400px;
    height: 600px;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    background-color: steelblue;
}

#display-container {
    /* border: solid blue; */
    height: 15%;
    width: 95%;
    margin: 4% auto;
    background-color: rgb(229, 229, 229);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#button-container {
    /* border: solid green; */
    width: 95%;
    height: 77%;
    margin: 4% auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
    /* border: solid pink; */
    flex: 1 0 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

button {
    flex: 1 0 0;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(115, 175, 218);
}

.number {
    background-color: skyblue;
}

.operator {
    background-color: rgb(89, 191, 231);
}

#immediate-text {
    font-size: 50px;
    margin-right: 8px;
}

#equals,
#backSpace {
    flex: 2.05 0 0;
}